/* ***背景图*** */
#wf-background{
    width: 100%;
    height: 8rem;
    background-image: url("../Image/mapBackground.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
#wf-background .backShade{
    width: 100%;
    height: 8rem;
    position: absolute;
    bottom: 0;
    opacity: 0.8;
    background-color:black;
}
#wf-background .backText{
    color: white;
    z-index: 999;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 190px;
    margin: auto;
    text-align: center;
}
#wf-background .backText p:first-of-type{
    font-size: 1rem;
    margin: 0;
}
#wf-background .backText:nth-child(2){
    font-size: 14px;
}
#wf-background .backText>p:last-of-type{
    font-size: 0.6rem;
}
/* ***介绍*** */
#wf-introTitle{
    width: 100%;
    height: 200px;
    background-color: #f7f7f7;
    color: #fe9b00;
    border-bottom: 4px solid #f0f0f0;
    position: relative;
}
#wf-introTitle .introTitle-content{
    width: 100%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
#wf-introTitle p{
    text-align: center;
    font-weight: 600;
    margin: 0;
    font-size: .6rem;
}
/* ***地址*** */
#wf-map{
    width: 100%;
    height: 400px;
    background-image: url("../Image/point.jpg");
}
#wf-map .content-wrap{
    width: 80%;
    margin: auto;
    height: 100%;
}
#wf-map .map-content{
    width: 50%;
    margin: auto;
    height: 100%;
    float: left;
    color:white;
    padding-top: 6%;
    padding-right: 2%;
}
#wf-map .map-content .row-wrap{
    width: 100%;
    margin: auto;
    display: flex;
    margin: 10px;
}
#wf-map .map-content .title-col{
   background-color: black;
   color: white;
   font-weight: 600;
   letter-spacing: 1px;
   padding: 0 .1rem;
   opacity: 0.7;
   height: 40px;
   border-bottom: 2px solid black;
   line-height: 40px;
   font-size: 18px;
   text-align: center;
}
#wf-map .map-content .first-col{
    width: 8%;
    margin-right: 10px;
    order: 1;
    background-color: #fe9b00;
    border-bottom: 2px solid #f17531;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wf-map .map-content .first-col img{
    width: 60%;
    height: 60%;
}
#wf-map .map-content .second-col{
    order: 2;
    background-color: hsl(37, 100%, 50%);
    flex-grow: 1;
    padding: 10px;
    font-size: 15px;
    border-bottom: 2px solid #f17531;
}
#wf-map .map-content .second-col span{
    cursor: pointer;
}
#wf-map .map-wrap{

    height: 100%;
    float: left;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wf-map .map-wrap #map{
    height: 90%;
    width: 90%;
    border: 2px solid gray;
}
#wf-map .map-content .row-wrap .dropdown-menu img{
    height: 100px;
    vertical-align: middle;
    display: table;
    margin:auto;
}