/* ***通用样式*** */
body,html{
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    width:100%;
    overflow-x:hidden;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
/* ***导航栏*** */
#wf-header{
    z-index: 9999;
}
#wf-header .navbar-light>.container{
    height: 0.9rem;
}
#wf-header .navbar-light .navbar-toggler{
    border-color: #555555;
    height: .9rem;
    padding: 0;
    /* background-color: #fe9b00; */
}
#wf-header .navbar-light .navbar-toggler-icon{
    height: .9rem;
    display: inherit;
}
#wf-header .wf-navbar{
    padding: 0 !important;
    background-color: #555555 !important;
}
#wf-header .wf-navbar .navbar-collapse{
    font-size: .3rem;
    background-color: #555555;
    z-index: 9999;
}
#wf-header .navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 0;
    padding-right: .6rem;
    margin: .15rem 0;
}
.nav-link{
   padding: 0; 
}
#wf-header .wf-navbar .navbar-brand{
    display: flex;
    align-items: center;
    margin-right: 0.5rem !important;
    padding: 0;
}
#wf-header .wf-navbar .navbar-brand img{
    width: 1.2rem;
    height: 0.6rem;
    margin-right: .1rem;
    margin-left: .2rem;
}
#wf-header .wf-navbar .navbar-brand strong{
    color: #fe9b00;
    font-size: .5rem;
    letter-spacing: 1px;
	text-shadow: 2px 2px 0 #39311d;
    font-family: "Times New Roman",Times,serif;
}
#wf-header .navbar-text img{
    width: 15px;
    margin-right: 4px;
}
#wf-header .navbar-text{
    color: #e0e0e0;
    padding: .2rem 0;
    font-size: 14px;
}
#wf-header .navbar-text span:first-of-type{
    margin-right: 12px;
}
#wf-header .navbar-nav li{
    margin: 0 0.2rem;
}
#wf-header .navbar-nav .active>a{
    color: #fe9b00 !important;
}
#wf-header .navbar-nav li a{
    color: #e0e0e0;
}
#wf-header .navbar-nav li>a:hover{
    color: #fe9b00;
    transition: 0.3s;
}
#wf-header .navbar-nav .dropdown-menu{
    background-color: #555555;
    color: #e0e0e0;
    font-size: 14px;
    min-width: auto;
    padding: 0;
    margin: 0;
}
#wf-header .navbar-nav .dropdown-menu .dropdown-item{
    padding: .2rem .65rem;
}
#wf-header .navbar-nav .dropdown-menu a:hover{
    background-color: #555555;
    color: #fe9b00;
    cursor: pointer;
    border-radius:.15rem;
}