#wf-productInfo{
    margin-top: .9rem;
}
#wf-productInfo .info-content{
    border-bottom: .15rem solid #f0f0f0;
    width:100%;
    background-color: #f7f7f7;
    padding: 30px 10%;
    font-size: 15px;
}
#wf-productInfo .info-content p{
   margin: 0;
}
#wf-productInfo .info-content p:last-of-type{
    font-size: 13px;
    text-align: right;
    color: gray;
}
#wf-productInfo #info-title{
    font-size: 20px;
    font-weight: 600;
 }
 #wf-productInfo .info-intro{
     font-size: .3rem;
 }
 #wf-productInfo .info-photo .info-photo-content .photo-li .card-title{
    margin: .4rem 0;
}
#wf-productInfo .info-photo .info-photo-content .photo-li .card-body{
    padding: 0;
}
#wf-productInfo .info-content #info-file{
    text-align: right;
 }
#wf-productInfo .info-content #info-file span{
    color: #fe9b00;
    cursor: pointer;
    margin: 0 5px;
 }
 #wf-productInfo .info-content #info-file span:last-of-type{
    color: red;
    cursor: auto;
 }
#wf-productInfo .info-photo{
    background-image: url("../Image/point.jpg");
    display: flex;
    width: 100%;
}
#wf-productInfo .info-photo .info-photo-content{
    width: 90%;
    margin: auto;
}
#wf-productInfo .info-photo .info-photo-content .photo-li{
    width: 31%;
    margin: 1%;
    font-size: 16px;
    float: left;
    box-shadow: 0px 10px 40px -10px rgba(0,64,128,0.2);
}
#wf-productInfo .info-photo .info-photo-content .photo-li .card-title{
    text-align: center;
}
#wf-productInfo .info-photo .info-photo-content .photo-li .image-content{
    overflow: hidden;
}
#wf-productInfo .info-photo .info-photo-content .photo-li img{
	transition: all 1.8s ease 0s;
}
#wf-productInfo .info-photo .info-photo-content .photo-li img:hover{
	-webkit-transform:scale(1.2);
	-o-transform:scale(1.2);
	-ms-transform: scale(1.2);
}